@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins,sans-serif";
}

body {
  background-color: rgb(203, 199, 199);
  font-family: Arial, sans-serif;
}
